@import '../colors';

.game__button {
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  color: white;
  user-select: none;
  font-variant-caps: all-petite-caps;
  //width: 200px;

  transition: color .3s ease-in;

  &:hover {
    color: $active-color;
    transition: color 1.3s ease-out;
  }

  &:focus {
    outline: none;
  }
}

.game__button__label {
  position: relative;
  left: 16px;
  top: 12px;
  font-size: 0.6rem;

}